*{
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #f7f7f7;
}
header{
    display: flex;
    align-items: center;
    background: #f7f7f7;
    height: 6vh;
}
#title{
    color: #63707e;
    font-size: 20px;
    font-weight: 600;
    margin-left: 30px;
}
.upper-section{
    background-image: url(img/background-blur-clean-531880.jpg);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    
    /* filter: brightness(50%); */
    flex-direction: column;
    height: 80vh;
    align-items: center;
    display: flex;
    justify-content: center;
}
#prof-pic{
    object-fit: cover;
    height: 180px;
    border-radius: 50%;
    box-shadow: 2px 2px #63707e;
    margin: 15px;
}
#name{
    color: #f7f7f7;
    text-shadow: 2px 2px #63707e;
    font-weight: 1000;
    font-size: 30px;
}
#first-desc{
    color: #f7f7f7;
    text-shadow: 2px 2px #63707e;
    font-weight: 700;
    font-size: 15px;
    margin: 10px
}
.lower-section{
    display: flex;
    width: 70%;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: auto;
    margin-left: auto;
    border: 5px solid #63707e;

}
#about-box{
    flex: 1;
    padding: 35px;
}
#about-title{
    color: #63707e;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 40px
}
.about-text{
    color: #63707e;
    padding-bottom: 5px;
    font-size: 15px;
    font-weight: 500;
}
#info-box{
    flex: 1;
    padding: 35px;
}
#info-title{
    color: #63707e;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 40px
}   
#info-list-box{
    display: flex;
}
#info-name{
    flex: 1;
    color: #63707e;
    padding-bottom: 5px;
    font-size: 15px;
    font-weight: 500;
}
#my-info{
    flex: 4;
    color: #63707e;
    padding-bottom: 5px;
    font-size: 15px;
    font-weight: 500;
}
#info-name-list{
    list-style-type: none;
}
#my-info-list{
    list-style-type: none;
}
